form {
    margin-top: 4rem;
  }
  
  form input[name="city"]
   {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
  }
  